<header>
    <div class="flex flex-col md:flex-row justify-between py-6 px-4 bg-transparent backdrop-blur-m">
        <h1 class="text-rose-600 text-2xl"> NotesApp - Admin </h1>
        <nav class="flex md:flex-row flex-col gap-2">
            <a class="text-rose-900 py-1 font-bold" href="/dashboard">Dashboard</a>
            <a class="text-rose-900 py-1 font-bold" href="/users">Users</a>
            <a class="text-rose-900 py-1 font-bold" href="/prompts">Prompts</a>
            <a class="text-rose-900 py-1 font-bold bg-zinc-900 border-2 px-2 rounded-md hover:bg-rose-900 hover:text-white transition-all duration-600 hover:border-white" href="/logout">Logout</a>
        </nav>
    </div>
</header>