# Python virtual environment
/backend/AI/bin/
/backend/AI/lib/
/backend/AI/share/
/backend/AI/lib64
/backend/AI/lib64/
/backend/AI/include/
/backend/AI/pyvenv.cfg
/backend/AI/__pycache__/
/backend/AI/*.pyc
/backend/AI/*.pyo
/backend/AI/*.pyd
/backend/AI/client.py

# IDE and system files
.idea/
.vscode/
.DS_Store
*.swp
*.swo

# PHP specific
/vendor/
.env
*.log