<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %}{% endblock %} - NotesApp</title>
    {% endblock %}
</head>
<body class="dark:bg-zinc-950 bg-zinc-50">
    {% block header %}

    {% endblock %}
    <div id="content" class="m-0 min-h-screen">
        {% block content %}{% endblock %}
    </div>
    <div id="footer" class="dark:bg-zinc-900 py-2 px-2 text-center text-emerald-600">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
    {% block JSscript %}
    {% endblock %}
</body>
</html>