{% extends "base.html" %}
{% block title %}Edit {{ user.username}} Account {% endblock %}
{% block head %}
    {{ super() }}
    
    <style type="text/css">
        .important { color: #336699; }
        .form-input { border-radius: 0.5rem; padding: 0.5rem; width: 100%; }
        .form-select { background-color: #f0fdf4; color: #065f46; }
        .form-button { background-color: #059669; color: white; padding: 0.5rem 1rem; border-radius: 0.5rem; }
        .form-button:hover { background-color: #047857; }
    </style>
{% endblock %}
{% block header %}
    {{ super() }}
    {% include 'partials/navbaradmin.html' %}
{% endblock %}
{% block content %}

<div class="container mx-auto py-10">
    {% with success = get_flashed_messages(category_filter=["success"]) %}
    {% if success %}
    <div
        class="flex bg-white dark:bg-gray-900 items-center px-6 py-4 text-sm border-t-2 rounded-b shadow-sm border-green-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-green-500 stroke-current" fill="none"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        <div class="ml-3">
            <div class="font-bold text-left text-black dark:text-gray-50">
                {% for msg in success %}
                <p>{{ msg }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endwith %}
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div
    class="flex bg-white dark:bg-gray-900 items-center px-6 py-4 text-sm border-t-2 rounded-b shadow-sm border-red-500">
    <svg viewBox="0 0 24 24" class="w-8 h-8 text-red-500 stroke-current" fill="none"
    xmlns="http://www.w3.org/2000/svg">
        <path
            d="M12 8V12V8ZM12 16H12.01H12ZM21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
        <div class="ml-3">
            <div class="font-bold text-left text-black dark:text-gray-50">
                {% for msg in errors %}
                <p>{{ msg }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endwith %}
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-3xl text-emerald-500 font-bold">Edit {{ user.username }}</h1>
    </div>

    <!-- Form Section -->
    <div class="bg-white dark:bg-zinc-900 p-6 rounded-lg shadow-md border border-zinc-200 dark:border-zinc-700">
        <form method="POST" class="space-y-4">
            
            <!-- Title Input Field -->
            <div class="flex flex-col">
                <label for="username" class="text-zinc-700 dark:text-zinc-300 font-medium mb-1">Enter Username:</label>
                <input 
                    type="text" 
                    name="username" 
                    id="username"
                    class="form-input border border-zinc-300 dark:border-zinc-600 bg-zinc-50 dark:bg-zinc-800 text-zinc-900 dark:text-zinc-100 rounded-lg p-2 read-only:bg-neutral-400"
                    placeholder="Enter title text"
                    value="{{ user.username }}"
                    readonly="readonly"
                    required
                >
            </div>

            <!-- Message Input Field -->
            <div class="flex flex-col">
                <label for="email" class="text-zinc-700 dark:text-zinc-300 font-medium mb-1">Enter Email:</label>
                <input 
                    type="email" 
                    name="email" 
                    id="email"
                    class="form-input border border-zinc-300 dark:border-zinc-600 bg-zinc-50 dark:bg-zinc-800 text-zinc-900 dark:text-zinc-100 rounded-lg p-2 read-only:bg-neutral-400"
                    placeholder="Enter title text"
                    value="{{ user.email }}"
                    readonly="readonly"
                    required
                >
            </div>
            <!-- Theme Input Field -->
            <div class="flex flex-col">
                <label for="theme" class="text-zinc-700 dark:text-zinc-300 font-medium mb-1">Enter theme:</label>
                <select class="form-input border border-zinc-300 dark:border-zinc-600 bg-zinc-50 dark:bg-zinc-800 text-zinc-900 dark:text-zinc-100 rounded-lg p-2" name="theme">
                	<option {% if setting.theme=='system' %} class="bg-emerald-500" selected="selected"  {% endif %} class="p-2" value="system">System</option>
                	<option {% if setting.theme=='dark' %} selected="selected" class="bg-emerald-500" {% endif %} class="p-2" value="dark">Dark</option>
                	<option {% if setting.theme=='light' %} selected="selected" class="bg-emerald-500" {% endif %} class="p-2" value="light">Light</option>
                </select>
            </div>
            <!-- Notification Input Field -->
            <div class="flex flex-col">
                <label for="notification" class="text-zinc-700 dark:text-zinc-300 font-medium mb-1">Enable/Disable notification:</label>
                <select class="form-input border border-zinc-300 dark:border-zinc-600 bg-zinc-50 dark:bg-zinc-800 text-zinc-900 dark:text-zinc-100 rounded-lg p-2" name="notification">
                	<option {% if setting.notification==1 %} selected="selected" class="bg-emerald-500" {% endif %} class="p-2" value=1>On</option>
                	<option {% if setting.notification==0 %} selected="selected" class="bg-emerald-500" {% endif %} class="p-2" value=0>Off</option>
                </select>
            </div>
            <!-- Notification Input Field -->
            <div class="flex flex-col">
                <label for="language" class="text-zinc-700 dark:text-zinc-300 font-medium mb-1">Choose Language:</label>
                <select class="form-input border border-zinc-300 dark:border-zinc-600 bg-zinc-50 dark:bg-zinc-800 text-zinc-900 dark:text-zinc-100 rounded-lg p-2" name="language">
                	<option {% if setting.language=="en" %} selected="selected" class="bg-emerald-500" {% endif %} class="p-2" value="en">English</option>
                	<option {% if setting.language=="es" %} selected="selected" class="bg-emerald-500" {% endif %} class="p-2" value="es">Spanish</option>
                	<option {% if setting.language=="fr" %} selected="selected" class="bg-emerald-500" {% endif %} class="p-2" value="fr">French</option>
                </select>
            </div>
            <!-- Submit Button -->
            <div class="text-right">
                <button 
                    type="submit" 
                    class="bg-emerald-600 dark:bg-emerald-700 hover:bg-emerald-700 dark:hover:bg-emerald-800 text-white font-semibold px-4 py-2 rounded-lg transition duration-200"
                >
                    Update
                </button>
            </div>

        </form>
    </div>
</div>

{% endblock %}
